<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Details</title>
</head>
<body>
<h1 style="color: brown;">{{my2.firstname}} {{my2.lastname}}</h1>
<p>---------------------------------------</p>
<p>Email: {{my2.email}}</p>
<p>Mobile Number: {{my2.mobile_no}}</p>
<p>DOB: {{my2.DOB}}</p>
<p>Gender: {{my2.gender}}</p>
<p>---------------------------------------</p>
<p>Back to <a href="/practice"><button>Practice</button></a> Page</p>
</body>
</html>