<!DOCTYPE html>
<html lang="en">
<head>
    <title>Member Details</title>
</head>
<body style="padding-left: 10px; padding-top: 10px;">
<table border="2" style="border-color:brown;">
<tr style="background-color: aquamarine;"><td>
<h1 style="color:red;">{{my2.firstname}} {{my2.lastname}}</h1> </td></tr><tr><td>
<p>Email: {{my2.email}}</p>
<p>Mobile Number: {{my2.mobile_no}}</p>
<p>DOB: {{my2.DOB}}</p>
<p>Gender: {{my2.gender}}</p>
</table>
<p>Back to <a href="/practice"><button>Practice</button></a> Page</p>

</body>
</html>