<!DOCTYPE html>
<html lang="en">
<head>
    <title>userinfo</title>
</head>
<body>
{%for x in my3 %}
<h1>{{x.firstname}} {{x.lastname}}</h1>
    <p>Email: {{x.email}}</p>
    <p>Contact: {{x.mobile_no}}</p>
    <p>DOB: {{x.DOB}}</p>
    <p>Gender: {{x.gender}}</p>
{%endfor%}
</ol><br><br>

<h3>Object-Relational Mapping:</h3>
<p>The Django web framework includes a default object-relational mapping layer (ORM) that can be used to interact 
    with data from various relational databases such as SQLite, PostgreSQL, and MySQL. Django allows us to add, 
    delete, modify, and query objects, using an API called ORM. ORM stands for Object Relational Mapping. 
    An object-relational mapper provides an object-oriented layer between relational databases and object-oriented 
    programming languages without having to write SQL queries.</p><br>

Back to <a href="/login">Login Page </a>Page
</body>
</html>